.main {
  background-image: url('/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat {
  height: 80%;
  width: 80vw;
  max-width: 1200px;
  display: grid;
  grid-template-rows: 100px 1fr 180px;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.infoContainer {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1B1C1E;
}

.infoContainer img {
  margin: 0 10px;
}

.chatContainer {
  grid-row: 2;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 5px;
  padding: 20px;
  overflow-y: auto;
}

.formContainer {
  grid-row: 3;
  height: 180px;
  padding: 20px;
  background: #F1F5F8;
  border-radius: 0 0 10px 10px;
}

.message {
  margin-bottom: 10px;
}

.messageContainer {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  margin-bottom: 10px;
}

.messageContainer.user {
  flex-direction: row;
  justify-content: flex-start;
}

.messageContainer.assistant {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.messageContainer.assistant.inSeq .messageContent {
  margin-right: 55px;
}

.messageContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 10px;
  gap: 10px;
  color: #1B1C1E;
}

.messageText {
  color: #1B1C1E;
  font-size: 16px;
  font-family: var(--font-default);
}

.assistant .messageContent {
  border-radius: 12px 12px 0px 12px;
  background: #EEF9F4;
}

.user .messageContent {
  background: #F1F5F8;
  border-radius: 12px 12px 12px 0px;
}

.roleLabel {
  font-weight: bold;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  border-radius: 10px;
  background: transparent;
}

.inputContainer {
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 8px;
  border: 2px solid #ffffff;
}

.inputContainer.activeBorder {
  border: 2px solid #2A8BFB;
}

.textarea {
  resize: none;
  border: none;
  padding: 5px;
  font-size: 16px;
  width: 80%;
  border: none;
  overflow: auto;
  outline: none;
  font-family: var(--font-default);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.button {
  background-color: #2A8BFB;
  color: white;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-end;
  justify-self: flex-end;
}

.button:hover {
  background-color: #1666f2;
}

.dotTyping {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #2A8BFB;
  color: #2A8BFB;
  box-shadow: 9984px 0 0 0 #2A8BFB, 9999px 0 0 0 #2A8BFB, 10014px 0 0 0 #2A8BFB;
  animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 #2A8BFB, 9999px 0 0 0 #2A8BFB, 10014px 0 0 0 #2A8BFB;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #2A8BFB, 9999px 0 0 0 #2A8BFB, 10014px 0 0 0 #2A8BFB;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #2A8BFB, 9999px 0 0 0 #2A8BFB, 10014px 0 0 0 #2A8BFB;
  }
  50% {
    box-shadow: 9984px 0 0 0 #2A8BFB, 9999px -10px 0 0 #2A8BFB, 10014px 0 0 0 #2A8BFB;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #2A8BFB, 9999px 0 0 0 #2A8BFB, 10014px 0 0 0 #2A8BFB;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #2A8BFB, 9999px 0 0 0 #2A8BFB, 10014px -10px 0 0 #2A8BFB;
  }
  100% {
    box-shadow: 9984px 0 0 0 #2A8BFB, 9999px 0 0 0 #2A8BFB, 10014px 0 0 0 #2A8BFB;
  }
}